<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <div>
            <form>
                <input type="text" placeholder="nombre" id="nameinput" value="yo">
                <button id="clickbtn">Clickeame</button>
            </form>
        </div>
    </body>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const button = document.getElementById('clickbtn');
            button.addEventListener('click', addOne);
        });

        function addOne(e) {
            const name = document.getElementById('nameinput').value;
            e.preventDefault();
            fetch('/api/click', {
                method: 'POST',
                body: JSON.stringify({ name }),
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            // .then(data => { console.log(data.text()); });
        }
    </script>
</html>