<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Puntaje</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
        </div>
    
        <script>
            // Poll for the leaderboard data every 5 seconds
            setInterval(() => {
                fetch('/api/leaderboard')
                    .then(response => response.json())
                    .then((data) => {
                        const leaderboard = document.querySelector('tbody');
                        leaderboard.innerHTML = '';
                        data.forEach(row => {
                            const tr = document.createElement('tr');
                            const td1 = document.createElement('td');
                            const td2 = document.createElement('td');
                            let [name, score] = row;
                            td1.textContent = name.split(':')[1];
                            td2.textContent = score;
                            tr.appendChild(td1);
                            tr.appendChild(td2);
                            leaderboard.appendChild(tr);
                        });
                    });
            }, 500);
        </script>
    </body>
</html>